.home {
  background-image: url("../images/Image/Rectangle\ 1.png");
  height: 657px;
  background-size: cover;
  background-repeat: no-repeat;
}
.home:before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  height: 657px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
