.login {
  display: flex;
  justify-content: center;
}
form button {
  display: block;
  width: 100%;
}

.separator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.toggle-login {
  text-align: center;
  margin-top: 5px;
}
.login-form {
  border: 1px solid lightgrey;
  padding: 20px 20px;
  width: 50%;
}
h6 {
  width: 50%;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid gray;
  line-height: 1.1em !important;
  margin: 20px 0 20px;
}
h6 span {
  background: #fff;
  padding: 0 15px;
}

.social-icon {
  padding-left: 20px;
}
.social-text {
  padding-right: 30px;
}
.social-text p {
  font-weight: bold;
  margin-bottom: 0;
}

.google-login,
.fb-login {
  border: 1px solid gray;
  border-radius: 20px;
  width: 30%;
  margin: 20px auto;
  padding: 10px 10px 10px 10px;
}
.google-login:focus {
  outline: none;
  box-shadow: 0 0 3pt 2pt #dc3545;
}
.fb-login:focus {
  outline: none;
  box-shadow: 0 0 3pt 2pt #3b5998;
}
.toggle-button {
  border: 0;
  padding: 0;
  background: none;
}
.toggle-button:hover {
  border-bottom: 1px solid gray;
}
.toggle-button:active,
.toggle-button:focus {
  outline: none;
}
.form-errors {
  color: red;
  font-weight: 500;
  font-size: 13px;
  font-family: inherit;
  font-style: italic;
}
